.introduction {
    margin-top: 40vh;
    padding: 0 32px 0 24px;
    margin-bottom: 45vh;
    margin-left: 8%;
    margin-right: 14%;

    &--title {
        font-size: 34px;
        margin-bottom: 8px;
        line-height: 1;
    }

    &--text {
        font-size: 18px;
        line-height: 1.7;
    }
}