//declare project breakpoitns

$lg : 992px;
$med : 768px;
$sm : 768px;
$xs : 484px;

//declare project fonts
$main-font: 'Source San Pro', sans-serif;;
$title-font: sans-serif;

//declare height of div.introduction for responsive padding-top, -bottom
$introPaddingHeight : 320px/2;


//curves

$standard-curve : cubic-bezier(0.4, 0.0, 0.2, 1);