.stream-record {
  
  &__logo {
    width: 30px;
    height: 30px;
    display: block;
    background: red;
    position: absolute;
    left: -15px;
  }
  
  &__title {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  &__addition {
    font-size: 14px;
    margin: 4px 0 8px;
  }
  
  &__desc {
    font-size: 16px;
    line-height: 1.5;
  }
}

.history-stream {

  &__title {
    margin-bottom: 24px;
    margin-left: -8px;
  }

  .stream-record:last-child {
        margin-top: 36px;
    }
}