.stream-record {
  
  &--logo {
    width: 30px;
    height: 30px;
    display: block;
    background: red;
    position: absolute;
    left: -15px;
  }
  
  &--title {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  &--addition {
    font-size: 14px;
    margin: 4px 0 8px;
  }
  
  &--desc {
    font-size: 16px;
    line-height: 1.5;
  }
}

.history-stream {
  margin-left: 8%;
  margin-right: 14%;
  padding: 0 32px 0 24px;

  &--title {
    font-size: 34px;
    margin-bottom: 48px;
    line-height: 1;
  }

  .stream-record:last-child {
        margin-top: 36px;
    }
}