.introduction {
    padding-top: -webkit-calc(100% - #{$introPaddingHeight});
    padding-top:    -moz-calc(100% - #{$introPaddingHeight});
    padding-top:         calc(100% - #{$introPaddingHeight});

    padding-bottom: -webkit-calc(100% - #{$introPaddingHeight});
    padding-bottom:    -moz-calc(100% - #{$introPaddingHeight});
    padding-bottom:         calc(100% - #{$introPaddingHeight});

    &__title {
        margin-bottom: 8px;
    }

    &__text {
        font-size: 18px;
        line-height: 1.7;
    }
}