.portrait-section {
    text-align: center;
    color: #FFF;
    font-family: 'Pattaya', sans-serif;


    &__box {
        border: 1px solid #FFF;
        margin: 16px;
        padding: 8px 16px;
    }

    &__title {
        font-size: 42px;
    }

    &__desc {
        font-size: 32px;
        letter-spacing: .04em;
        line-height: 1;
        padding-top: 6px;
    }
}

.social-links {
    margin-top: 24px;
    //display: flex;
    transform: translateY(36px);

    &__item {
        display: inline-flex;
        list-style: none;
    }
}