.skills {

    &__title {
        font-size: 34px;
        margin-bottom: 24px;
        line-height: 1;
        margin-left: -8px;
    }

    &--inner {
        display: flex;
        flex: {
            direction: row;
            wrap: wrap;
        }
        justify-content: flex-start;
        align-items: flex-start;
    }

    &--col-4 {
            width: calc(100%/4);
            flex-basis: 1;
            margin-right: 48px;
        }
}

//variable
    /*

    @media only screen and (min-width: $lg) {
        width: 100%/3;
    }

    @media only screen and (max-width: $xs) {
        width: 100%;
    } */

.skills-list {
    list-style: none;
    list-style-position: inside;
    margin-bottom: 48px;

    &__header {
        font: {
            size: 22px;
            weight: 600;
        }
        margin-bottom: 12px;
    }

    &__item {
        margin-bottom: 0.3em;
        padding-left: 24px;
        position: relative;

        &:before {
            content:  "\2014 ";
            position: absolute;
            left: 0;
        }
    }
}
