* {
    margin: 0;
    padding: 0;
}

@import "variables/variables";
@import "components/layout";
@import "components/portrait-section";
@import "components/introduction";
@import "components/history-stream";

body {
    font-family: $main-font;
}