* {
    margin: 0;
    padding: 0;
}

@import "variables/variables";
@import "components/layout";
@import "components/portrait-section";
@import "components/introduction";
@import "components/history-stream";
@import "components/skills-section";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Pattaya");

body {
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 800;
    line-height: 1;
    font-size: 34px;
    line-height: 1;
}